ClientApplication/Connected Services/CalculatorServiceReference/CalculatorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CalculatorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CalculatorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MyNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number1" type="xs:int" />
      <xs:element minOccurs="0" name="Number2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyNumber" nillable="true" type="tns:MyNumber" />
  <xs:complexType name="CustomFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomFault" nillable="true" type="tns:CustomFault" />
</xs:schema>